.item {


  width: 25%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  border-radius: 90px;
  margin: 10px;
  -webkit-box-shadow: 4px 4px 31px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 31px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 31px 0px rgba(34, 60, 80, 0.2);
  background: gainsboro;

  &__title {
    text-align: center;
  }

  &__brand {
    text-align: center;
  }

  &__image {
    width: 100px;
    height: 100px;
  }

  &__star {
    color: yellow;
  }
}


